<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen="true" class="bg-style">
  <div class="meter green nostripes">
    <span [style.width]="progress()"></span>
  </div>
  Active Connections: {{ service.activeConnections }}
  {{ Global.downloadedText }} {{ infoText }} <br />
  <button *ngIf="Global.updateAvailable" ion-button (click)="testButton()">
    Update Available
  </button>

  <ion-item-group approxItemHeight="40px">
    <!-- <ion-item-divider color="light">Channels</ion-item-divider> -->
    <button
      *ngFor="let channel of service.channels"
      ion-item
      (click)="openChat(channel)"
      class="bg-style"
      ion-long-press [interval]="500" (onPressStart)="pressed()" (onPressing)="active(channel)" (onPressEnd)="released()"
    >
      <!-- <ion-avatar item-start class="animated bounceInLeft"> -->
      <ion-avatar item-start>
        <!-- <ion-img [src]="game.enemyPictureURL"></ion-img> -->
        <img src="./assets/imgs/no_picture.png" />
      </ion-avatar>
      <!-- <h2 class="animated zoomIn"> -->
      <b>{{ channel.name }}</b>
      <!-- </h2>
      <h3 class="animated bounceInUp">{{game.enemyRank}}</h3>
      <h1 clear item-end class="animated bounceInRight">{{game.scoreM}}:{{game.scoreE}}</h1> -->
      <!-- <h3>{{ channel.pubKeyBs58 }}</h3> -->
      <h3>{{ channel.info }}</h3>
      <!-- <div *ngIf="Global.updateAvailable" clear item-end>Content to render when condition is true.</div> -->
      <ion-spinner *ngIf="channel.status === undefined" clear item-end name="dots" color="light"></ion-spinner>
      <ion-spinner *ngIf="channel.status == 2" clear item-end name="dots" color="primary"></ion-spinner>
      <ion-spinner *ngIf="channel.status == 3" clear item-end name="dots" color="medium"></ion-spinner>
      <!-- <h1  clear item-end >--</h1> -->
    </button>
  </ion-item-group>

  <br />

  <div padding>
    Peerlist: (nodeId, retries, url)

    <div [innerHTML]="service.listNodes()"></div>

    <button ion-button (click)="testButton()">Force Update</button>
    <button ion-button (click)="savePeers()">Save Peers</button>
    <button ion-button (click)="saveChans()">Save Chans</button>

    <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->
  </div>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="createNewChannel()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
