<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen="true" class="bg-style">
  <div class="meter green nostripes">
    <span [style.width]="progress()"></span>
  </div>
  Active Connections: {{ this.sockets.activeConnections }}
  {{ Global.downloadedText }} {{ infoText }} <br />
  <button *ngIf="Global.updateAvailable" ion-button (click)="testButton()">
    Update Available
  </button>

  <ion-item-group approxItemHeight="40px">
    <!-- <ion-item-divider color="light">Channels</ion-item-divider> -->
    <button
      *ngFor="let channel of channels"
      ion-item
      (click)="openChat(channel)"
      class="bg-style"
    >
      <!-- <ion-avatar item-start class="animated bounceInLeft"> -->
      <ion-avatar item-start>
        <!-- <ion-img [src]="game.enemyPictureURL"></ion-img> -->
        <img src="./assets/imgs/no_picture.png" />
      </ion-avatar>
      <!-- <h2 class="animated zoomIn"> -->
      <b>{{ channel.name }}</b>
      <!-- </h2>
      <h3 class="animated bounceInUp">{{game.enemyRank}}</h3>
      <h1 clear item-end class="animated bounceInRight">{{game.scoreM}}:{{game.scoreE}}</h1> -->
      <h3>{{ channel.publicKey }}</h3>
      <h1 clear item-end>--</h1>
    </button>
  </ion-item-group>

  <br />

  <div padding>
    Peerlist: (nodeId, retries, url)

    <div [innerHTML]="this.sockets.listNodes()"></div>

    <button ion-button (click)="testButton()">Download Update</button>

    <p>
      If you get lost, the
      <a href="http://ionicframework.com/docs/v2">docs</a> will show you the
      way.
    </p>

    <button ion-button secondary menuToggle>Toggle Menu</button>
  </div>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="createNewChannel()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
